# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/

# SAM / CloudFormation
.aws-sam/
samconfig.toml.bak
packaged.yaml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
